<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


USER
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getEmail()}"></p>

<a th:href="@{http://localhost:8080/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{http://localhost:8080/admin/user/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">logout</button>
</form>
</body>
</html>